@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("../css/reset.css");
body {
  min-width: 450px; }

.fixed-page {
  overflow: hidden; }

.container-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0; }

.wrapper {
  padding: 0 50px;
  margin: 0px; }

.bg-color {
  background-color: #fbfaf8;
  padding: 0px; }

.gradient-color {
  background: linear-gradient(90deg, #211b19 0%, #382820 50%, #493125 100%); }

.header {
  position: relative; }
  .header .navbar {
    position: relative;
    top: 10px;
    z-index: 3;
    background-color: aqua;
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0; }
    .header .navbar a {
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
      font-family: Montserrat; }
    .header .navbar__logo {
      color: #ffffff;
      font-family: Raleway;
      font-weight: 400;
      text-decoration: none; }
      .header .navbar__logo a {
        font-size: 34px;
        color: #ffffff;
        text-decoration: none; }
      .header .navbar__logo img {
        margin-right: 10px; }
    .header .navbar__nav {
      align-self: center; }
      .header .navbar__nav ul {
        display: flex;
        justify-content: space-between; }
        .header .navbar__nav ul li {
          width: 100%;
          height: 100%;
          display: block; }
          .header .navbar__nav ul li:nth-child(10), .header .navbar__nav ul li:nth-child(9) {
            width: 50px; }
          .header .navbar__nav ul li a {
            text-align: center;
            display: block;
            position: relative;
            padding: 10px;
            transition: .3s ease; }
            .header .navbar__nav ul li a:before, .header .navbar__nav ul li a:after {
              content: '';
              position: absolute;
              transition: transform .3s ease; }
            .header .navbar__nav ul li a:before, .header .navbar__nav ul li a:after {
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              border-style: solid;
              border-color: #86868538; }
            .header .navbar__nav ul li a:before {
              border-width: 2px 0 2px 0;
              transform: scaleX(0); }
            .header .navbar__nav ul li a:after {
              border-width: 0 2px 0 2px;
              transform: scaleY(0); }
            .header .navbar__nav ul li a:hover:before, .header .navbar__nav ul li a:hover:after {
              transform: scale(1, 1); }
          .header .navbar__nav ul li a:hover {
            color: #c7b299; }
      .header .navbar__nav .active a {
        color: #c7b299; }
    .header .navbar .menu-burger {
      display: none;
      z-index: 3;
      right: 45px;
      top: 25px; }
    .header .navbar .menu-burger span,
    .header .navbar .menu-burger:after,
    .header .navbar .menu-burger:before {
      height: 3px;
      width: 30px;
      position: absolute;
      background: #ffffff;
      margin: 0 auto;
      right: 20px;
      top: 25px;
      transition: 0.4s; }
    .header .navbar .menu-burger:after,
    .header .navbar .menu-burger:before {
      content: ''; }
    .header .navbar .menu-burger:after {
      top: 15px; }
    .header .navbar .menu-burger:before {
      top: 35px; }
    .header .navbar .menu-burger.open-menu span {
      opacity: 0;
      transition: 0.5s; }
    .header .navbar .menu-burger.open-menu:before {
      transform: rotate(45deg);
      top: 15px;
      transition: 0.4s;
      background-color: #000000;
      right: 30px; }
    .header .navbar .menu-burger.open-menu:after {
      transform: rotate(-45deg);
      top: 15px;
      transition: 0.4s;
      background-color: #000000;
      right: 30px; }
  .header .slider__item {
    position: relative;
    color: #ffffff; }
    .header .slider__item .box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .header .slider__item-title {
      width: 100%;
      margin-bottom: 15px; }
      .header .slider__item-title h1 {
        font-size: 52px;
        text-align: center;
        font-family: Raleway;
        font-weight: 600; }
    .header .slider__item-subtitle {
      width: 100%;
      margin-bottom: 10px; }
      .header .slider__item-subtitle h2 {
        font-size: 36px;
        text-align: center;
        font-family: Raleway;
        font-weight: 400; }
    .header .slider__item-description {
      width: 600px;
      margin: 10px auto 50px; }
      .header .slider__item-description p {
        font-size: 16px;
        font-family: Montserrat;
        text-align: center;
        line-height: 25px; }
    .header .slider__item-btn {
      margin: 0 auto; }
      .header .slider__item-btn a {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #998675;
        font-size: 14px;
        font-family: Raleway;
        padding: 17px 0;
        display: block;
        text-decoration: none;
        border-radius: 4px;
        transition: .3s;
        box-shadow: 0 3px 0 #6b5541;
        text-align: center;
        width: 180px; }
      .header .slider__item-btn a:hover {
        background-color: #998675a4;
        text-decoration: none; }
    .header .slider__item img {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      min-height: 600px; }
  .header .slider button {
    outline: none;
    border: none; }
  .header .slider .slick-arrow {
    position: absolute;
    top: calc(50vh - 34px);
    z-index: 10;
    width: 35px;
    height: 68px;
    font-size: 0;
    z-index: 1; }
  .header .slider .slick-prev {
    left: 50px;
    background: url(../images/arrow_left.png) 0 0/100% no-repeat; }
  .header .slider .slick-next {
    background: url(../images/arrow_right.png) 0 0/100% no-repeat;
    right: 50px; }
  .header .slider .slick-disabled {
    opacity: 0.4; }
  .header .slider .slick-dots {
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0; }
    .header .slider .slick-dots li {
      list-style: none; }
      .header .slider .slick-dots li button {
        font-size: 0;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: rgba(202, 192, 192, 0.3);
        margin: 0 5px; }
    .header .slider .slick-dots .slick-active button {
      background-color: rgba(166, 172, 175, 0.1);
      width: 18px;
      height: 18px;
      border: solid 1px #ffffff; }
  .header .slider .slick-slide {
    outline: none;
    border: none; }
  .header .slider .slick-list {
    overflow: hidden; }
  .header .slider .slick-track {
    display: flex; }

.info {
  margin: 80px 0; }
  .info .item {
    text-align: center;
    position: relative; }
    .info .item__image {
      position: relative; }
      .info .item__image .before {
        opacity: 0;
        position: absolute;
        top: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease; }
    .info .item:hover img {
      transition: .4s ease; }
    .info .item:hover .before {
      opacity: 1;
      transition: .4s ease; }
    .info .item:hover .after {
      opacity: 0; }
      .info .item:hover .after img {
        transition: .4s linear; }
    .info .item .item__border-bottom {
      transition: .4s linear; }
    .info .item:hover .item__border-bottom {
      background-color: #c7b299;
      transition: .4s linear; }
    .info .item__title {
      font-family: Raleway;
      font-size: 22px;
      color: #555555;
      margin-bottom: 25px;
      margin-top: 30px; }
    .info .item__description {
      font-family: Montserrat;
      font-size: 14px;
      color: #8c8c8c;
      line-height: 24px;
      margin-bottom: 30px; }
    .info .item__border-bottom {
      width: 50px;
      height: 3px;
      background-color: #f1eee9;
      margin: 0 auto; }

.realization {
  text-align: center;
  padding-top: 85px; }
  .realization__title {
    font-family: Raleway;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #555555;
    text-align: center; }
  .realization__subtitle {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #8c8c8c;
    margin-bottom: 35px;
    text-align: center; }
    .realization__subtitle p {
      width: 700px;
      margin: 0 auto; }
  .realization .slider-theme {
    position: relative;
    color: #ffffff; }
    .realization .slider-theme .slick-slide {
      padding-top: 50px; }
    .realization .slider-theme .slick-center {
      padding-top: 0; }
    .realization .slider-theme button {
      outline: none;
      border: none; }
    .realization .slider-theme .slick-dots {
      display: flex;
      align-self: center;
      justify-content: center;
      position: absolute;
      left: 0;
      bottom: 30px;
      right: 0; }
      .realization .slider-theme .slick-dots li {
        list-style: none; }
        .realization .slider-theme .slick-dots li button {
          font-size: 0;
          width: 13px;
          height: 13px;
          border-radius: 50%;
          background-color: rgba(202, 192, 192, 0.3);
          margin: 0 5px; }
      .realization .slider-theme .slick-dots .slick-active button {
        background-color: rgba(166, 172, 175, 0.1);
        width: 18px;
        height: 18px;
        border: solid 1px #ffffff; }
    .realization .slider-theme .slick-slide {
      outline: none;
      border: none; }
    .realization .slider-theme .slick-list {
      overflow: hidden; }
    .realization .slider-theme .slick-track {
      display: flex; }

.by-now {
  padding: 50px 15px; }
  .by-now .text__title {
    font-size: 28px;
    font-family: Raleway;
    color: #ffffff;
    margin-bottom: 15px; }
  .by-now .text__subtitle {
    font-size: 18px;
    font-family: Montserrat;
    color: #615855; }
  .by-now .btn-now {
    justify-content: flex-end; }
    .by-now .btn-now a {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 600;
      background-color: #998675;
      font-size: 14px;
      font-family: Raleway;
      padding: 17px 0;
      display: block;
      text-decoration: none;
      border-radius: 4px;
      transition: .3s;
      box-shadow: 0 3px 0 #6b5541;
      text-align: center;
      width: 180px; }
    .by-now .btn-now a:hover {
      background-color: #998675a4;
      text-decoration: none; }

.project {
  padding: 80px 0; }
  .project__title {
    font-family: Raleway;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #555555;
    text-align: center; }
  .project__subtitle {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #8c8c8c;
    margin-bottom: 35px;
    text-align: center; }
    .project__subtitle p {
      width: 700px;
      margin: 0 auto; }
  .project .tabs-triggers {
    display: flex;
    justify-content: center;
    margin-bottom: 40px; }
    .project .tabs-triggers a {
      padding: 10px 20px;
      color: #000000;
      font-family: Montserrat;
      border: 1px solid #ebebeb;
      border-radius: 5px;
      text-decoration: none;
      display: block;
      transition: .3s linear;
      margin-right: 10px; }
      .project .tabs-triggers a:last-of-type {
        margin: 0; }
      .project .tabs-triggers a:hover {
        background-color: #998675;
        color: #ffffff; }
    .project .tabs-triggers__item--active {
      background-color: #998675;
      color: #ffffff; }
  .project .tab-box {
    margin: 0;
    padding: 0 15px;
    display: none;
    margin-bottom: 30px; }
    .project .tab-box__image {
      position: relative; }
      .project .tab-box__image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .project .tab-box__image i {
        color: #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: .3s ease; }
    .project .tab-box__content {
      padding: 30px;
      background-color: #fbfaf8;
      position: relative; }
      .project .tab-box__content:before {
        content: " ";
        position: absolute;
        top: -10px;
        height: 25px;
        width: 25px;
        background-color: #fbfaf8;
        transform: rotate(45deg); }
      .project .tab-box__content-title {
        margin-bottom: 15px; }
        .project .tab-box__content-title a {
          font-family: Raleway;
          font-size: 20px;
          color: #c7b299;
          text-decoration: none; }
      .project .tab-box__content-subtitle a {
        color: #d1d1d1;
        font-family: Montserrat;
        font-size: 14px;
        text-decoration: none; }
    .project .tab-box:hover .tab-box__image a:before {
      content: " ";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      margin: 0; }
    .project .tab-box:hover .tab-box__content {
      background-color: #362f2d; }
      .project .tab-box:hover .tab-box__content:before {
        content: " ";
        background-color: #362f2d; }
    .project .tab-box:hover i {
      opacity: 1; }
  .project .tab-box--active {
    display: block; }
  .project .btn-realization {
    margin-top: 40px; }
    .project .btn-realization a {
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 600;
      background-color: #998675;
      font-size: 14px;
      font-family: Raleway;
      padding: 17px 0;
      display: block;
      text-decoration: none;
      border-radius: 4px;
      transition: .3s;
      box-shadow: 0 3px 0 #6b5541;
      text-align: center;
      width: 180px; }
    .project .btn-realization a:hover {
      background-color: #998675a4;
      text-decoration: none; }

.video {
  background-image: url("../images/video.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 105px 0; }
  .video__icon {
    text-align: center;
    margin-bottom: 40px; }
    .video__icon img {
      transition: .1s linear; }
    .video__icon img:hover {
      transform: scale(1.1);
      transition: .3s linear; }
  .video__title {
    font-family: Raleway;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #555555;
    text-align: center;
    color: #ffffff; }
  .video__subtitle {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #8c8c8c;
    margin-bottom: 35px;
    text-align: center;
    color: #ffffff;
    width: 650px;
    margin: 0 auto; }
    .video__subtitle p {
      width: 700px;
      margin: 0 auto; }
  .video__time {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #8c8c8c;
    margin-bottom: 35px;
    text-align: center;
    color: #c7b299;
    margin-top: 40px;
    font-weight: 600; }
    .video__time p {
      width: 700px;
      margin: 0 auto; }

.mob-devices {
  padding-top: 80px; }
  .mob-devices__image {
    text-align: center; }
  .mob-devices__content {
    align-self: center; }
    .mob-devices__content-title {
      font-family: Raleway;
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 30px;
      color: #555555;
      text-align: center; }
    .mob-devices__content-description {
      font-family: Montserrat;
      font-size: 16px;
      color: #8c8c8c;
      line-height: 30px;
      margin-bottom: 40px; }
    .mob-devices__content-img-mob {
      display: none; }
    .mob-devices__content-items ul li {
      font-family: Montserrat;
      font-size: 16px;
      color: #8c8c8c;
      line-height: 35px;
      display: block;
      position: relative;
      padding-left: 25px; }
      .mob-devices__content-items ul li:before {
        content: " ";
        position: absolute;
        top: 6px;
        left: 0;
        background-image: url("../images/item_icon.png");
        width: 21px;
        height: 21px; }

.about {
  text-align: center;
  padding: 60px 0; }
  .about__number {
    font-family: Montserrat;
    font-weight: 200;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 48px;
    padding: 30px 0 15px; }
  .about__text {
    font-family: Montserrat;
    font-size: 16px;
    color: #c7b299;
    text-transform: uppercase;
    padding-bottom: 30px; }
  .about__border-bottom {
    width: 50px;
    height: 3px;
    background-color: #ffffff;
    margin: 0 auto; }

.posts {
  margin: 80px 0 140px; }
  .posts__title {
    font-family: Raleway;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #555555;
    text-align: center;
    text-align: center; }
  .posts__subtitle {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #8c8c8c;
    margin-bottom: 35px;
    text-align: center;
    margin: 0 auto 40px; }
    .posts__subtitle p {
      width: 700px;
      margin: 0 auto; }
    .posts__subtitle p {
      width: 700px; }
  .posts .posts-slider {
    position: relative; }
    .posts .posts-slider button {
      outline: none;
      border: none; }
    .posts .posts-slider .slick-slide {
      outline: none;
      border: none; }
    .posts .posts-slider .slick-list {
      overflow: hidden; }
    .posts .posts-slider .slick-track {
      display: flex; }
    .posts .posts-slider .slick-arrow {
      position: absolute;
      top: 117%;
      left: calc(50% - 19px);
      transform: translate(-50%, -50%);
      z-index: 10;
      width: 28px;
      height: 28px;
      font-size: 0; }
    .posts .posts-slider .slick-next {
      margin-left: 35px;
      background: url(../images/arrow_right_slider_posts.png) 0 0/100% no-repeat; }
    .posts .posts-slider .slick-prev {
      background: url(../images/arrow_left_slider_posts.png) 0 0/100% no-repeat; }
    .posts .posts-slider .slick-disabled {
      opacity: 0.4; }
    .posts .posts-slider .item {
      border: 1px solid #f8f8f8;
      margin: 0 20px; }
      .posts .posts-slider .item__image {
        position: relative; }
        .posts .posts-slider .item__image img {
          width: 100%; }
        .posts .posts-slider .item__image .date {
          position: absolute;
          top: 20px;
          left: 20px;
          color: #ffffff;
          font-family: Montserrat;
          text-align: center; }
          .posts .posts-slider .item__image .date__day {
            background-color: #363636;
            font-size: 18px;
            padding: 10px 14px;
            border-radius: 4px 4px 0 0;
            transition: .1s linear; }
          .posts .posts-slider .item__image .date__month {
            background-color: #252525;
            font-size: 14px;
            padding: 8px 14px;
            border-radius: 0 0 4px 4px;
            transition: .1s linear; }
      .posts .posts-slider .item__content {
        padding: 30px 25px; }
        .posts .posts-slider .item__content-title {
          font-family: Raleway;
          font-size: 20px;
          color: #555555;
          margin-bottom: 20px; }
        .posts .posts-slider .item__content-subtitle {
          font-family: Montserrat;
          font-size: 14px;
          color: #8c8c8c;
          margin-bottom: 30px;
          line-height: 22px; }
        .posts .posts-slider .item__content-link a {
          font-family: Montserrat;
          font-size: 14px;
          color: #c7b299;
          text-decoration: none;
          transition: .2s linear; }
          .posts .posts-slider .item__content-link a i {
            color: #c7b299;
            position: relative;
            top: 1px;
            left: 10px;
            transition: .2s linear; }
            .posts .posts-slider .item__content-link a i:hover {
              color: #e6cfb3;
              transition: .2s linear; }
        .posts .posts-slider .item__content-link:hover a,
        .posts .posts-slider .item__content-link:hover i {
          color: #e6cfb3;
          transition: .2s linear; }
      .posts .posts-slider .item:hover .item__image:before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 0; }
      .posts .posts-slider .item:hover .date__day {
        background-color: #c7b299; }
      .posts .posts-slider .item:hover .date__month {
        background-color: #a48d72; }
      .posts .posts-slider .item:hover .item__content {
        background-color: #362f2d; }
        .posts .posts-slider .item:hover .item__content-title {
          color: #c7b299; }
        .posts .posts-slider .item:hover .item__content-subtitle {
          color: #ffffff; }

.partners {
  background-image: url("../images/partners_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px 0; }

.footer {
  background-color: #191919; }
  .footer .row {
    padding: 80px 0; }
    .footer .row .item__logo {
      color: #ffffff;
      font-family: Raleway;
      font-weight: 400;
      text-decoration: none; }
      .footer .row .item__logo a {
        font-size: 34px;
        color: #ffffff;
        text-decoration: none; }
      .footer .row .item__logo img {
        margin-right: 10px; }
    .footer .row .item__description {
      margin: 35px 0;
      color: #555555;
      font-size: 14px;
      font-family: Montserrat;
      line-height: 22px; }
    .footer .row .item__link a {
      font-family: Montserrat;
      font-size: 14px;
      color: #ffffff;
      text-decoration: none;
      transition: .2s linear; }
      .footer .row .item__link a i {
        color: #ffffff;
        position: relative;
        top: 1px;
        left: 10px;
        transition: .2s linear; }
        .footer .row .item__link a i:hover {
          color: #ddd9d9;
          transition: .2s linear; }
    .footer .row .item__link:hover a,
    .footer .row .item__link:hover i {
      color: #ddd9d9;
      transition: .2s linear; }
    .footer .row .item__title {
      color: #ffffff;
      font-weight: 600;
      font-size: 24px;
      font-family: Raleway;
      padding-top: 18px;
      margin-bottom: 55px; }
    .footer .row .item__post {
      font-family: Montserrat;
      border-bottom: 1px solid #363636;
      margin-bottom: 15px;
      padding-bottom: 15px; }
      .footer .row .item__post-date {
        font-size: 12px;
        color: #363636;
        margin-bottom: 5px;
        transition: .2s linear; }
      .footer .row .item__post-description a {
        font-size: 14px;
        color: #555555;
        line-height: 22px;
        padding-bottom: 10px;
        text-decoration: none;
        transition: .2s linear; }
      .footer .row .item__post-time {
        font-size: 12px;
        color: #363636;
        padding-top: 5px;
        transition: .2s linear; }
      .footer .row .item__post .teg {
        color: #059ec9; }
      .footer .row .item__post:hover .item__post-date {
        color: #ffffff;
        transition: .2s linear; }
      .footer .row .item__post:hover .item__post-time {
        color: #ffffff;
        transition: .2s linear; }
      .footer .row .item__post:hover .item__post-description a {
        color: #c7b299;
        transition: .2s linear; }
    .footer .row .item__widget {
      display: flex;
      flex-wrap: wrap;
      column-gap: 10px;
      row-gap: 10px; }
  .footer .copyright {
    background-color: black;
    font-family: Montserrat;
    font-size: 13px; }
    .footer .copyright .row {
      padding: 45px 0; }
    .footer .copyright ul {
      display: flex; }
      .footer .copyright ul li a {
        transition: .2s linear;
        color: #555555;
        text-decoration: none; }
        .footer .copyright ul li a:hover {
          color: #c7b299; }
      .footer .copyright ul li:after {
        content: "|";
        padding: 15px; }
      .footer .copyright ul li:last-child:after {
        content: "";
        padding: 0; }
      .footer .copyright ul li .gray {
        color: #959595; }

@media (max-width: 576px) {
  .row {
    margin: 0; }

  .wrapper {
    padding: 0; }

  .header .navbar__nav {
    position: fixed; }
    .header .navbar__nav ul {
      display: block;
      flex-wrap: wrap;
      position: absolute;
      top: -10px;
      right: 0;
      background: #f5f6f6;
      width: 100%;
      right: -100%;
      transition: all 0.4s ease;
      z-index: 2;
      padding-top: 75px;
      overflow: scroll;
      height: 100vh; }
      .header .navbar__nav ul li {
        height: auto;
        width: auto; }
        .header .navbar__nav ul li a {
          text-align: left;
          margin-left: 20px; }
          .header .navbar__nav ul li a:before, .header .navbar__nav ul li a:after {
            content: none; }
      .header .navbar__nav ul a {
        color: #000000; }
    .header .navbar__nav ul.open-menu {
      right: 0; }
  .header .navbar .menu-burger {
    display: block; }
  .header .slider__item .box {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%); }
  .header .slider__item-title h1 {
    font-size: 35px; }
  .header .slider__item-subtitle h2 {
    font-size: 25px; }
  .header .slider__item-description {
    width: 100%;
    margin: 10px auto 50px; }
    .header .slider__item-description p {
      font-size: 14px; }

  .info {
    margin-top: 30px;
    margin-bottom: 10px; }

  .item {
    margin-bottom: 25px; }

  .realization {
    padding-top: 45px; }
    .realization__subtitle p {
      width: 100%; }
    .realization .slider-theme .slick-slide {
      padding-top: 20px; }
    .realization .slider-theme .slick-center {
      padding-top: 0; }
    .realization .slider-theme .slick-dots {
      bottom: 15px; }
    .realization .slider-theme img {
      height: 200px; }

  .by-now {
    padding: 25px 0; }
    .by-now .text__title {
      font-size: 20px; }
    .by-now .text__subtitle {
      font-size: 16px; }
    .by-now .btn-now {
      margin-top: 25px;
      justify-content: start; }

  .project {
    padding: 80px 0; }
    .project__subtitle p {
      width: 100%; }
    .project .tabs-triggers {
      justify-content: space-between; }
      .project .tabs-triggers a {
        font-size: 10px;
        padding: 8px 5px; }

  .video {
    padding: 80px 0; }
    .video__icon {
      margin-bottom: 40px; }
    .video__subtitle {
      width: 100%; }

  .mob-devices {
    padding-top: 80px; }
    .mob-devices__image {
      text-align: center;
      display: none; }
    .mob-devices__content {
      align-self: center; }
      .mob-devices__content-title {
        font-family: Raleway;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 30px;
        color: #555555;
        text-align: center; }
      .mob-devices__content-description {
        text-align: justify; }
      .mob-devices__content-img-mob {
        display: block;
        text-align: center; }
        .mob-devices__content-img-mob img {
          width: 50%; }
      .mob-devices__content-items {
        margin-bottom: 30px; }

  .about {
    padding: 35px 0; }

  .posts {
    margin: 80px 0 140px; }
    .posts__subtitle p {
      width: 100%; }

  .partners {
    text-align: center;
    padding: 30px 0; }
    .partners__image img {
      width: 80%; }

  .footer .row {
    padding: 40px 0; }
    .footer .row .item__logo {
      text-align: center; }
    .footer .row .item__widget {
      padding: 0 70px;
      justify-content: center; }
    .footer .row .item__title {
      text-align: center; }
  .footer .copyright {
    font-size: 12px; }
    .footer .copyright .row {
      padding: 45px 0; }
      .footer .copyright .row div:first-of-type {
        margin-bottom: 15px; }
    .footer .copyright ul {
      justify-content: center; }
      .footer .copyright ul li a {
        font-size: 12px; }
      .footer .copyright ul li:after {
        padding: 7px; } }
@media (min-width: 577px) and (max-width: 767px) {
  .header .wrapper {
    padding: 0; }
    .header .wrapper .navbar__nav {
      position: fixed; }
      .header .wrapper .navbar__nav ul {
        display: block;
        flex-wrap: wrap;
        position: absolute;
        top: -10px;
        right: 0;
        background: #f5f6f6;
        width: 100%;
        right: -100%;
        transition: all 0.4s ease;
        z-index: 2;
        padding-top: 75px;
        overflow: scroll;
        height: 100vh; }
        .header .wrapper .navbar__nav ul li {
          height: auto;
          width: auto; }
          .header .wrapper .navbar__nav ul li a {
            text-align: left;
            margin-left: 20px; }
            .header .wrapper .navbar__nav ul li a:before, .header .wrapper .navbar__nav ul li a:after {
              content: none; }
        .header .wrapper .navbar__nav ul a {
          color: #000000; }
      .header .wrapper .navbar__nav ul.open-menu {
        right: 0; }
    .header .wrapper .navbar .menu-burger {
      display: block; }
  .header .slider .wrapper {
    padding: 0 15px; }
  .header .slider__item .box {
    left: 20%;
    transform: translate(-10%, -50%); }
  .header .slider__item-title h1 {
    font-size: 35px; }
  .header .slider__item-subtitle h2 {
    font-size: 25px; }
  .header .slider__item-description {
    width: 100%;
    margin: 10px auto 50px; }
    .header .slider__item-description p {
      font-size: 14px; }

  .info {
    margin-top: 30px;
    margin-bottom: 10px; }
    .info .row div:nth-child(1), .info .row div:nth-child(2) {
      margin-bottom: 20px; }
    .info .row div:nth-child(3), .info .row div:nth-child(4) {
      margin-bottom: 15px; }

  .realization {
    padding-top: 45px; }
    .realization__subtitle p {
      width: 100%; }
    .realization .slider-theme .slick-slide {
      padding-top: 20px; }
    .realization .slider-theme .slick-center {
      padding-top: 0; }
    .realization .slider-theme .slick-dots {
      bottom: 15px; }
    .realization .slider-theme img {
      height: 230px; }

  .by-now {
    padding: 25px 0; }
    .by-now .text__title {
      font-size: 20px; }
    .by-now .text__subtitle {
      font-size: 16px; }
    .by-now .btn-now {
      margin-top: 25px;
      justify-content: start; }

  .project {
    padding: 80px 0; }
    .project__subtitle p {
      width: 100%; }
    .project .tabs-triggers {
      justify-content: space-between; }
      .project .tabs-triggers a {
        font-size: 12px;
        padding: 8px 5px; }
    .project .tabs .tab-box__content {
      padding: 15px; }

  .video {
    padding: 80px 0; }
    .video__icon {
      margin-bottom: 40px; }
    .video__subtitle {
      width: 100%; }

  .mob-devices {
    padding-top: 80px; }
    .mob-devices__image {
      text-align: center;
      display: none; }
    .mob-devices__content {
      align-self: center; }
      .mob-devices__content-description {
        text-align: justify; }
      .mob-devices__content-img-mob {
        display: block;
        text-align: center; }
        .mob-devices__content-img-mob img {
          width: 50%; }
      .mob-devices__content-items {
        margin-bottom: 30px; }

  .about {
    padding: 35px 0; }
    .about .row div:nth-child(1), .about .row div:nth-child(2) {
      margin-bottom: 30px; }

  .posts {
    margin: 80px 0 140px; }
    .posts__subtitle p {
      width: 100%; }
    .posts .posts-slider .item {
      margin: 0 20px; }
      .posts .posts-slider .item__image .date {
        top: 15px;
        left: 15px; }
        .posts .posts-slider .item__image .date__day {
          font-size: 15px;
          padding: 5px 9px; }
        .posts .posts-slider .item__image .date__month {
          font-size: 14px;
          padding: 5px 9px; }
      .posts .posts-slider .item__content {
        padding: 15px 10px; }
        .posts .posts-slider .item__content-title {
          font-size: 16px; }
        .posts .posts-slider .item__content-subtitle {
          font-size: 14px;
          line-height: 20px; }

  .partners {
    padding: 50px 0; }
    .partners__image img {
      width: 80%; }

  .footer .row {
    padding: 40px 0; }
    .footer .row .item__logo {
      text-align: center; }
    .footer .row .item__description {
      text-align: justify; }
    .footer .row .item__widget {
      width: 300px;
      margin: 0 auto; }
    .footer .row .item__title {
      text-align: center; }
  .footer .copyright {
    font-size: 12px; }
    .footer .copyright .row {
      padding: 45px 0; }
      .footer .copyright .row div:first-of-type {
        margin-bottom: 15px; }
    .footer .copyright ul {
      justify-content: center; }
      .footer .copyright ul li a {
        font-size: 12px; }
      .footer .copyright ul li:after {
        padding: 7px; } }
@media (min-width: 768px) and (max-width: 992px) {
  .header .navbar__logo {
    text-align: center;
    margin-bottom: 10px; }
  .header .navbar__nav {
    align-self: center;
    padding: 0 50px; }

  .realization {
    padding-top: 45px; }
    .realization__subtitle p {
      width: 100%; }
    .realization .slider-theme img {
      height: 300px; }

  .by-now .btn-now {
    margin-top: 0;
    justify-content: end; }

  .project {
    padding: 80px 0; }
    .project__subtitle p {
      width: 100%; }
    .project .tabs-triggers {
      justify-content: space-between; }
      .project .tabs-triggers a {
        font-size: 13px;
        padding: 8px 10px;
        margin-right: 6px; }
    .project .tabs .tab-box__content {
      padding: 20px; } }

/*# sourceMappingURL=style.css.map */
