@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("../css/reset.css");
.container-content {
  max-width: 1300px;
  margin: 0 auto; }

.wrapper {
  padding: 0 50px; }

header {
  position: relative; }
  header .navbar {
    position: relative;
    top: 10px;
    z-index: 3;
    background-color: aqua;
    width: 100%;
    height: 0;
    padding: 0;
    margin: 0; }
    header .navbar a {
      color: #ffffff;
      text-decoration: none;
      font-size: 14px;
      font-family: Montserrat; }
    header .navbar__logo {
      color: #ffffff;
      font-family: Raleway;
      font-weight: 400; }
      header .navbar__logo a {
        font-size: 34px; }
      header .navbar__logo img {
        margin-right: 10px; }
    header .navbar__nav {
      align-self: center; }
      header .navbar__nav ul {
        display: flex; }
        header .navbar__nav ul li {
          width: 100%;
          height: 100%;
          display: block; }
          header .navbar__nav ul li:nth-child(10), header .navbar__nav ul li:nth-child(9) {
            width: 50px; }
          header .navbar__nav ul li a {
            text-align: center;
            display: block;
            position: relative;
            padding: 10px;
            transition: .5s ease; }
            header .navbar__nav ul li a:before, header .navbar__nav ul li a:after {
              content: '';
              position: absolute;
              transition: transform .3s ease; }
            header .navbar__nav ul li a:before, header .navbar__nav ul li a:after {
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              border-style: solid;
              border-color: #86868538; }
            header .navbar__nav ul li a:before {
              border-width: 2px 0 2px 0;
              transform: scaleX(0); }
            header .navbar__nav ul li a:after {
              border-width: 0 2px 0 2px;
              transform: scaleY(0); }
            header .navbar__nav ul li a:hover:before, header .navbar__nav ul li a:hover:after {
              transform: scale(1, 1); }
          header .navbar__nav ul li a:hover {
            color: #c7b299; }
      header .navbar__nav .active a {
        color: #c7b299; }
  header .slider__item {
    position: relative;
    color: #ffffff; }
    header .slider__item .box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    header .slider__item-title {
      width: 100%;
      margin-bottom: 15px; }
      header .slider__item-title h1 {
        font-size: 52px;
        text-align: center;
        font-family: Raleway;
        font-weight: 600; }
    header .slider__item-subtitle {
      width: 100%;
      margin-bottom: 10px; }
      header .slider__item-subtitle h2 {
        font-size: 36px;
        text-align: center;
        font-family: Raleway;
        font-weight: 400; }
    header .slider__item-description {
      width: 600px;
      margin: 10px auto 50px; }
      header .slider__item-description p {
        font-size: 16px;
        font-family: Montserrat;
        text-align: center;
        line-height: 25px; }
    header .slider__item-btn {
      text-align: center;
      width: 180px;
      margin: 0 auto; }
      header .slider__item-btn a {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #998675;
        font-size: 14px;
        font-family: Raleway;
        padding: 17px 0;
        display: block;
        text-decoration: none;
        border-radius: 4px; }
    header .slider__item img {
      height: 100vh;
      width: 100%;
      object-fit: cover;
      min-height: 600px; }
  header .slider button {
    outline: none;
    border: none; }
  header .slider .slick-arrow {
    position: absolute;
    top: calc(50vh - 34px);
    z-index: 10;
    width: 35px;
    height: 68px;
    font-size: 0; }
  header .slider .slick-prev {
    left: 50px;
    background: url(../images/arrow_left.png) 0 0/100% no-repeat; }
  header .slider .slick-next {
    background: url(../images/arrow_right.png) 0 0/100% no-repeat;
    right: 50px; }
  header .slider .slick-disabled {
    opacity: 0.4; }
  header .slider .slick-dots {
    display: flex;
    align-self: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 30px;
    right: 0; }
    header .slider .slick-dots li {
      list-style: none; }
      header .slider .slick-dots li button {
        font-size: 0;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: rgba(202, 192, 192, 0.3);
        margin: 0 5px; }
    header .slider .slick-dots .slick-active button {
      background-color: rgba(166, 172, 175, 0.1);
      width: 18px;
      height: 18px;
      border: solid 1px #ffffff; }
  header .slider .slick-slide {
    outline: none;
    border: none; }
  header .slider .slick-list {
    overflow: hidden; }
  header .slider .slick-track {
    display: flex; }

.about {
  padding-top: 80px; }
  .about .item {
    text-align: center;
    position: relative; }
    .about .item:nth-child(2):hover .item__image {
      content: "";
      background-image: url("../images/icon_1.png");
      background-repeat: no-repeat;
      width: 47px;
      margin: 0 auto; }
    .about .item__title {
      font-family: Raleway;
      font-size: 22px;
      color: #555555;
      margin-bottom: 25px;
      margin-top: 30px; }
    .about .item__description {
      font-family: Montserrat;
      font-size: 14px;
      color: #8c8c8c;
      line-height: 24px;
      margin-bottom: 30px; }
    .about .item__border-bottom {
      width: 50px;
      height: 3px;
      background-color: #f1eee9;
      margin: 0 auto; }

/*# sourceMappingURL=style.css.map */
