@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('../css/reset.css');



// main style

.container-content{
    max-width: 1300px;
    margin: 0 auto;
    padding:0;
}

.wrapper {
    padding: 0 50px;
    margin: 0px;
}

.bg-color{
    background-color: #fbfaf8;
    padding:0px;
}

.gradient-color{
    background: linear-gradient(90deg, #211b19 0%, #382820 50%, #493125 100%);
}


// @mixin button

@mixin btn{
    
    a {
        color: #ffffff;
        text-transform: uppercase;
        font-weight: 600;
        background-color: #998675;
        font-size: 14px;
        font-family: Raleway;
        padding: 17px 0;
        display: block;
        text-decoration: none;
        border-radius: 4px;
        transition: .3s;
        box-shadow: 0 3px 0 #6b5541;
        text-align: center;
        width: 180px;  
    }

    a:hover{
        background-color: #998675a4;
        text-decoration: none;
    }
}

// @mixin title
@mixin title{
    font-family: Raleway;
    font-size:30px;
    line-height: 30px;
    margin-bottom: 30px;
    color: #555555;
    text-align: center;
}

// @mixin subtitle
@mixin subtitle{
    font-family: Montserrat;
    font-size:16px;
    line-height: 24px;
    margin-bottom: 15px;
    color: #8c8c8c;
    margin-bottom: 35px;
    text-align: center;
        p{
            width: 700px;
            margin: 0 auto;
        }

}




.header {
    position: relative;

    .navbar {
        position: relative;
        top: 10px;
        z-index: 3;
        background-color: aqua;
        width: 100%;
        height: 0;
        padding: 0;
        margin: 0;


        a {
            color: #ffffff;
            text-decoration: none;
            font-size: 14px;
            font-family: Montserrat;
        }

        &__logo {
            color: #ffffff;
            font-family: Raleway;
            font-weight: 400;

            a {
                font-size: 34px;
            }

            img {
                margin-right: 10px;
            }
        }

        &__nav {
            align-self: center;

            ul {
                display: flex;

                li {
                    width: 100%;
                    height: 100%;
                    display: block;

                    &:nth-child(10),
                    &:nth-child(9) {
                        width: 50px;
                    }

                    a {
                        text-align: center;
                        display: block;
                        position: relative;
                        padding: 10px;
                        transition: .5s ease;

                        &:before,
                        &:after {
                            content: '';
                            position: absolute;
                            transition: transform .3s ease;
                        }

                        &:before,
                        &:after {
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            border-style: solid;
                            border-color: #86868538;
                        }

                        &:before {
                            border-width: 2px 0 2px 0;
                            transform: scaleX(0);
                        }

                        &:after {
                            border-width: 0 2px 0 2px;
                            transform: scaleY(0);
                        }

                        &:hover:before,
                        &:hover:after {
                            transform: scale(1, 1);
                        }

                    }

                    a:hover {
                        color: #c7b299;

                    }

                }
            }

            .active {
                a {
                    color: #c7b299;
                }

            }
        }
    }

    .slider {

        &__item {
            position: relative;
            color: #ffffff;


            .box {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &-title {
                width: 100%;
                margin-bottom: 15px;

                h1 {
                    font-size: 52px;
                    text-align: center;
                    font-family: Raleway;
                    font-weight: 600;

                }
            }

            &-subtitle {
                width: 100%;
                margin-bottom: 10px;

                h2 {
                    font-size: 36px;
                    text-align: center;
                    font-family: Raleway;
                    font-weight: 400;
                }
            }

            &-description {
                width: 600px;
                margin: 10px auto 50px;

                p {
                    font-size: 16px;
                    font-family: Montserrat;
                    text-align: center;
                    line-height: 25px;

                }

            }
            &-btn{  
                margin: 0 auto;
                @include btn;
            }




            img {
                height: 100vh;
                width: 100%;
                object-fit: cover;
                min-height: 600px;
            }

        }

        button {
            outline: none;
            border: none;
        }

        .slick-arrow {
            position: absolute;
            top: calc(50vh - 34px);
            z-index: 10;
            width: 35px;
            height: 68px;
            font-size: 0;
        }

        .slick-prev {
            left: 50px;
            background: url(../images/arrow_left.png) 0 0 /100% no-repeat;
        }

        .slick-next {
            background: url(../images/arrow_right.png) 0 0 /100% no-repeat;
            right: 50px;
        }

        .slick-disabled {
            opacity: 0.4;
        }

        .slick-dots {
            display: flex;
            align-self: center;
            justify-content: center;
            position: absolute;
            left: 0;
            bottom: 30px;
            right: 0;

            li {

                list-style: none;

                button {
                    font-size: 0;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    background-color: rgba(202, 192, 192, 0.3);
                    margin: 0 5px;

                }
            }

            .slick-active {
                button {
                    background-color: rgba(166, 172, 175, 0.1);
                    width: 18px;
                    height: 18px;
                    border: solid 1px #ffffff;
                }
            }
        }

        .slick-slide {
            outline: none;
            border: none;
        }

        .slick-list {
            overflow: hidden;
        }

        .slick-track {
            display: flex;
        }
    }
}

.about{
    margin: 80px 0;
    .item{
        text-align: center;
        position:relative;
        &__image{
            position: relative;
            .before{
                opacity: 0;
                position: absolute;
                top: 0;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: .5s ease;
            }

        }

        &:hover img{
            transition: .4s ease;
        }

        &:hover .before{
            opacity: 1;
            transition: .4s ease;
        }
        &:hover .after{
            opacity: 0;
            img{
                transition: .4s linear;
            }
        }
        .item__border-bottom{
            transition: .4s linear;
        }
        &:hover .item__border-bottom{
            background-color:#c7b299;
            transition: .4s linear;
        }
            

        &__title{
            font-family: Raleway;
            font-size: 22px;
            color: #555555;
            margin-bottom: 25px;
            margin-top: 30px;
        }

        &__description{
            font-family: Montserrat;
            font-size: 14px;
            color: #8c8c8c;
            line-height: 24px;
            margin-bottom: 30px;
        }
        &__border-bottom{
            width:50px;
            height: 3px;
            background-color:#f1eee9;
            margin: 0 auto;
        }
    }
}



.realization{
   
    text-align: center;
    padding-top: 85px;
    
    &__title{
        @include title;
    }
    &__subtitle{
        @include subtitle;

    }
    
    .slider-theme {
            position: relative;
            color: #ffffff;
            .slick-slide {
                padding-top: 50px;
                }
                .slick-center {
                  padding-top:0;
                }
                img {
                   max-height:400px;
                }
    

        button {
            outline: none;
            border: none;
        }

        .slick-dots {
            display: flex;
            align-self: center;
            justify-content: center;
            position: absolute;
            left: 0;
            bottom: 30px;
            right: 0;

            li {

                list-style: none;

                button {
                    font-size: 0;
                    width: 13px;
                    height: 13px;
                    border-radius: 50%;
                    background-color: rgba(202, 192, 192, 0.3);
                    margin: 0 5px;

                }
            }

            .slick-active {
                button {
                    background-color: rgba(166, 172, 175, 0.1);
                    width: 18px;
                    height: 18px;
                    border: solid 1px #ffffff;
                }
            }
        }

        .slick-slide {
            outline: none;
            border: none;
        }

        .slick-list {
            overflow: hidden;
        }

        .slick-track {
            display: flex;
        }
    }
}

.by-now{
    padding: 50px 15px;
    .text{
        &__title{
            font-size: 28px;
            font-family: Raleway;
            color: #ffffff;
            margin-bottom: 15px;
        }
        &__subtitle{
            font-size: 18px;
            font-family: Montserrat;
            color: #615855;
        }
    }
    .btn-now{
        @include btn;
    }
}

.project{
    padding: 80px 0;
    &__title{
        @include title;
    }
    &__subtitle{
        @include subtitle;
    }
    .tabs{
        ul{
            display: flex;
            justify-content: center;
            li{
                padding: 10px 20px;
                color: #000000;
                font-family: Montserrat;
                border: 1px solid #ebebeb;
                border-radius: 5px;
                margin-right: 10px;
                
            }
            .active{
                background-color: #998675;
                color: #ffffff;
            }
            &:last-child{
                margin: 0;
            }
        }

        .tab-box{
            
        }
    }
}