

.slider {
    position: relative;

    &__item {
        text-align: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-height: 600px;
        }

        h1 {
            margin: 0 auto;
            position: relative;
            top: -55%;
        }

        h2 {
            position: relative;
            top: -50%;
            width: 469px;
            padding: 9px 0;
            margin: 0 auto;
            background-color: #ffffff;
        }

    }

    button {
        outline: none;
        border: none;
    }

    .slick-arrow {
        position: absolute;
        top: 45%;
        z-index: 10;
        width: 35px;
        height: 35px;
        font-size: 0;
    }

    .slick-prev {
        left: 50px;
        background: url(../images/dest/arrow_left.png) 0 0 /100% no-repeat;
    }

    .slick-next {
        background: url(../images/dest/arrow_right.png) 0 0 /100% no-repeat;
        right: 50px;
    }

    .slick-disabled {
        opacity: 0.4;
    }

    .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 5%;
        left: 46%;

        li {

            list-style: none;

            button {
                font-size: 0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #ffffff;
                margin: 0 5px;
            }
        }

        .slick-active {
            button {
                background-color: #797979;
                width: 20px;
                height: 20px;
            }
        }
    }

    .slick-slide {
        outline: none;
        border: none;
    }

    .slick-list {
        overflow: hidden;
        max-height: 600px;
    }

    .slick-track {
        display: flex;
    }
}


.portfolio {
    display: grid;
    grid-template-columns: 30% 35% 30%;
    grid-template-rows: auto;
    grid-column-gap: 2.5%;

    background-color: var(--main-bg-color);

    .column {
        &__img {
            position: relative;
            margin-bottom: 15px;

            a {

                background-color: rgba(19, 19, 19, 0.5);
                color: #000000;
                text-align: center;
                position: absolute;
                opacity: 0;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                display: grid;
                align-content: center;


            }

            &:hover a {
                opacity: 1;
                transition: .3s;
            }
        }


        img {
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

    }




    &__btn {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 9;
        grid-row-end: 9;
        text-align: center;

        a {
            width: 160px;
            background-color: #959595;
            margin: 40px auto 15px;
            height: 40px;
            border-radius: 3px;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 600;
            border: 1px solid gray;
            padding-top: 13px;
            display: block;
        }
    }
}



@media (max-width: 576px) {
    body {

        .slider {
            .slick-arrow {
                opacity: 0;
            }

            h1 {
                font-size: 35px;
                top: -60%;
                width: 95%;
            }

            h2 {
                font-size: 16px;
                top: -55%;
                width: 420px;

            }

            .slick-dots {

                left: calc(100% / 2.4);
            }
        }

        .portfolio {
            grid-template-columns: 100%;

            &__btn {
                grid-column-start: 1;
                grid-column-end: 2;
            }
       
        }


        
    }
}

@media (min-width: 577px) and (max-width: 767px) {
    .slider {
        .slick-arrow {
            opacity: 0;
        }

      
        .slick-dots {

            left: calc(100% / 2.4);
        }
        h1 {
            font-size: 35px;
            top: -60%;
            width: 500px;
        }

        h2 {
            font-size: 16px;
            top: -55%;
            width: 420px;
        }
    }
    .portfolio {
        grid-template-columns: 48% 48%;
    
        &__btn {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .hidden-mob{
            display: none;
        }
    }



}

@media (min-width: 768px) and (max-width: 992px) {
    .slider{
        .slick-prev {
            left: 1%;
        }
        .slick-next {
            right: 1%;
        }
        h1 {
            top: -65%;
        }

        h2 {
            top: -60%;
        }
        .slick-dots {

            left: calc(100% / 2.3);
        }
    } 
}